#portada{
  position: absolute; 
  z-index: 0;
  top:0px;
  left:0px;
}

#titulo{
  position: absolute; 
  z-index: 1;
  top:50px;
  left:500px;
}

#escudo{
  position: absolute; 
  z-index: 0;
  top:10px;
  left:50px;
  width:131px;
  height:166px;
}

#cuerpo{
  position: absolute;
  z-index: 0;
  top:0px;
  left:0px;
}

.form{
  background: #999191;
  position: absolute;
  z-index: 1;
  top:300px;
  left:450px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #CEC4C4;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #E34343;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#companias {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #CEC4C4;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

#com {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #CEC4C4;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button:hover,.form button:active,.form button:focus {
  background: #E34343;
}
.form .message {
  margin: 15px 0 0;
  color: #FFFFFF;
  font-size: 12px;
}
.form .message a {
  color: #000000;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
